*, *::before, *::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --box-gap: 1rem;
    --info-height: 3rem;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    height: 100vh;
}

.container {
    border: 1px solid red;

    height: 80%;
    width: 80%;

    padding: var(--box-gap);
}

.infos {
    border: 1px solid green;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: var(--info-height);
    padding: calc(.5 * var(--box-gap)) calc(2 * var(--box-gap));
}

.mine-field {
    border: 1px solid blue;
    height: calc(100% - var(--info-height) - var(--box-gap));
    margin-top: var(--box-gap);
}