.hljs-built_in,
.hljs-title {
    color: #6f42c1;
}

.hljs-comment {
    color: #6a737d;
}

.hljs-keyword,
.xml .hljs-tag {
    color: #d73a49;
}

.xml .hljs-name {
    color: initial;
}

.hljs-number,
.hljs-literal {
    color: #005cc5;
}

.hljs-regexp {
    color: #22863a;
}

.hljs-string {
    color: #032f62;
}

/** javascript */
/* .lang-javascript .hljs-keyword,
.lang-javascript .xml .hljs-tag {
    color: #d73a49;
}

.lang-javascript .hljs-title {
    color: #6f42c1;
}

.lang-javascript .hljs-regexp {
    color: #22863a;
}

.lang-javascript .hljs-number,
.lang-javascript .hljs-literal {
    color: #005cc5;
}

.lang-javascript .hljs-string {
    color: #032f62;
}

.lang-javascript .hljs-comment {
    color: #6a737d;
}

.lang-javascript .hljs-built_in {
    color: #6f42c1;
}

.lang-javascript .xml .hljs-name {
    color: initial;
} */

/** sql */
/* .lang-sql .hljs-keyword,
.lang-sql .hljs-literal {
    color: #d73a49;
}

.lang-sql .hljs-number {
    color: #005cc5;
}

.lang-sql .hljs-string {
    color: #032f62;
} */