:root {
    --offset: 1rem;
}

@keyframes tsl {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(calc(100vh + var(--offset)));
    }
}

#test-bench {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

#test-bench div {
    opacity: .5;
    position: absolute;
    top: calc(-1 * var(--offset));
    animation-name: tsl;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}